/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Diagnostic Styling */
/* #stage {
  outline: 1px dotted black;
} */


/***** STYLING *****/
/* Stage */
#stage {
  height: 300px;
  width: 600px;
  position: relative;
  overflow: hidden;
}

/* Surfing with the Alien image */
img#swta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Audio */
div#play-audio input#play-btn {
  position: absolute;
  top: 0;
  right: 60px;
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  width: 7%;
  background: none;
}

/* Google */
svg#google.st0 {
  fill: #4285F4;
}

svg#google.st1 {
  font-family: 'Rockwell-ExtraBold';
}

svg#google.st2 {
  font-size: 200px;
}

svg#google.st3 {
  fill: #EA4335;
}

svg#google.st4 {
  fill: #FBBC05;
}

svg#google.st5 {
  fill: #34A853;
}

/* Title */
h1 {
  font: 4.0em 'Cinzel', serif;
  margin-top: 0;
}

.char1, .char5 {
  font: 2em 'Marck Script', cursive;
}

/* Music Lines */
svg#music-lines .cls-1 {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  stroke-miterlimit: 10;
}

/* GUITAR */
svg#guitar {
  width: 100%;
}

svg#guitar .cls-1 {
  fill:red;
}

svg#guitar .cls-1,.cls-2,.cls-3,.cls-5 {
  stroke: #000;
  stroke-miterlimit: 10;
}

svg#guitar .cls-3 {
  fill: gray;
}

svg#guitar .cls-5 {
  fill: #666;
}

g.guitar-strings {
  stroke: white;
}

/* Music Notes */
svg#music-note-two .cls-1,
svg#music-note-three .cls-1,
svg#music-note-four .cls-1, svg#music-note-four .cls-2, 
svg#music-note-five .cls-1, svg#music-note-five .cls-2,
svg#music-note-six .cls-1, svg#music-note-six .cls-2 {
  stroke: #000;
  stroke-miterlimit: 10;
}

svg#music-note-three .cls-2,
svg#music-note-four .cls-2,
svg#music-note-five .cls-2,
svg#music-note-six .cls-2 {
  fill: #fff;
}

svg#music-note-two {
  width: 6%;
}
svg#music-note-three {
  width: 7%;
}
svg#music-note-four {
  width: 10%;
}
svg#music-note-five {
  width: 4%;
}
svg#music-note-six  {
  width: 3%;
}

 
/***** ANIMATION *****/
/* FIRST FRAMES */
h1 {
  position: absolute;
  left: -585px;
  top: 7px;  
  transition: left 1s;
}

/* Google */
svg#google {
  position: absolute;
  transform: scale(0.8);
  top: -30px;
  left: -60px;
  transition: left 0.2s ease-out, scale 0.2s ease-out;
}

/* Joe Satriani Image */
img#satch {
  position: absolute;
  width: 50%;
  right: -50px;
  opacity: 1;
  transition: transform 1.0s ease-in, opacity 0.5s ease-in 0.8s;
}

svg#guitar {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 1s;
}

svg#music-lines {
  position: absolute;
  bottom: -200px;
  transition: bottom 0.5s;
}

svg#music-note-two,
svg#music-note-three,
svg#music-note-four,
svg#music-note-five,
svg#music-note-six {
  position: absolute;
  top: 315px;
  right: 315px;
  transition: right 1s, top 1s;
}

#string-1 {
  animation: strum 0.5s ease-in-out 1s both 2, 
             strum 0.5s ease-in-out 15s both 2
  ;
}

#string-2 {
  animation: strum 0.5s ease-in-out 3s both 2,
             strum 0.5s ease-in-out 17s both 2
  ;
}

#string-3 {
  animation: strum 0.5s ease-in-out 5s both 2,
             strum 0.5s ease-in-out 19s both 2
  ;
}

#string-4 {
  animation: strum 0.5s ease-in-out 6s both 2,
             strum 0.5s ease-in-out 20s both 2  
  ;
}

#string-5 {
  animation: strum 0.5s ease-in-out 2s both 2,
             strum 0.5s ease-in-out 16s both 2  
  ;
}

#string-6 {
  animation: strum 0.5s ease-in-out 4s both 2,
             strum 0.5s ease-in-out 18s both 2  
  ;
}


/* LAST FRAMES */
.slide-h1 {
  left: 15px;
  top: 7px;
}

.opacity-zero {
  opacity: 0;
}

.rotate-guitar {
  transform: rotate(-18deg);
}

.move-string {
  top: 3px;
}

img#satch.skew-satch {
  transform: skew(90deg, 90deg);
  opacity: 0;
}

#stage:hover svg#music-lines {
  bottom: 0;
}

#stage:hover svg#music-note-two {
  top: 227px;
  right: 225px;
}

#stage:hover svg#music-note-three {
  top: 222px;
  right: 173px;
}

#stage:hover svg#music-note-four {
  top: 176px;
  right: 112px;
}

#stage:hover svg#music-note-five {
  top: 169px;
  right: 59px;
}

#stage:hover svg#music-note-six {
  top: 172px;
  right: 17px;  
}

#stage:hover g#string-1 {
  top: +=3px;
}

#stage:hover svg#google {
  transform: scale(0.3);
  left: -850px;
  top: 0;
}

@keyframes strum {
  0% { transform: translateY(0); }
  33% { transform: translateY(1px); }
  66% { transform: translateY(0); }
  100% { transform: translateY(-1px); }
}